<div class="homepage-container">
  <h1 class="logo">
    <span class="doof">DOOF</span><span class="us">.us</span>
  </h1>

  <div class="links-container">
    <a href="/memes" class="link-button" data-turbo="false">memes</a>
    <a href="/meals" class="link-button" data-turbo="false">meal prep</a>
  </div>
</div>
